@import "nullstyle";
@import "vars";
@import "fonts";

@import "abstracts/mixins";
@import "abstracts/templates";

@import "components/header",
"components/footer",
"components/arrows",
"components/checkbox",
"components/tabs",
"main";


body {
	scroll-behavior: smooth;
	font-family: Faberge;
	background: var(--light);

	@media (width < 1024px) {
		&.lock {
			overflow: hidden;
		}
	}
}

.container {
	max-width: 1740px; //1640px
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

html {
	@media (max-width: 1200px) {
		&.lock {
			touch-action: none;
			overflow: hidden;

			body {
				overflow: hidden;
			}
		}
	}

	&.slide-showed {
		touch-action: none;
		overflow: hidden;

		body {
			overflow: hidden;
		}
	}
}