footer {
	width: 100%;
	margin-top: 120px;
	padding: 80px 0;

	background: #161616;
	border-radius: 80px 80px 0 0;

	color: white;
	font-family: Humanst;

	.container {
		display: flex;
		gap: 60px;
	}

	.left {
		flex: 0 1 631px;
	}

	.right {
		flex: 0 1 950px;

		display: flex;
		flex-direction: column;
	}

	.right-bottom {
		margin-top: auto;

		display: flex;
	}

	.lists {
		display: flex;
		justify-content: space-between;

		@include responsive-font(12px, 24px);
		line-height: 1.2;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.info {
		margin-top: 130px;

		opacity: 0.4;
		@include responsive-font(12px, 20px);

		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	.form {
		max-width: 532px;
		margin-left: 145px;
	}

	.form-title {
		@include responsive-font(16px, 24px);
		line-height: 1.2;
		font-family: Faberge;
		text-transform: uppercase;

		br {
			display: none;
		}
	}

	.input-and-button {
		flex-wrap: wrap;
		margin-top: 30px;
		display: flex;
		gap: 28px;
	}

	.email {
		@extend %input;
	}

	.subscribe {
		@extend %button-primary;
	}

	.agreement {
		margin-top: 40px;
		display: flex;
		align-items: start;
		gap: 10px;

		@include responsive-font(10px, 12px);
		line-height: 1.2;
		color: var(--light);
	}

	.decoration {
		opacity: 0.1;

		display: flex;
		flex-direction: column;
		gap: 13px;
		align-items: center;
		justify-content: end;

		@include responsive-font(17px, 26px);
		text-transform: uppercase;
		font-family: Faberge;

		img {
			max-width: 158px;
		}
	}

	.image-with-PP {
		margin-left: auto;

		display: flex;
		flex-direction: column;
		gap: 60px;
		align-items: end;

		@include responsive-font(12px, 20px);
		line-height: 1.2;

		max-width: 380px;

		video {
			width: 100%;
		}
	}

	.PP {
		opacity: 0.4;

		&.mobile {
			display: none;
		}
	}

	.mobile {
		display: none;
	}

	.copy {
		display: none;
	}

	@media (width < 1440px) {
		margin-top: 80px;
		padding: 70px 0;
	}

	@media (width < 1200px) {
		border-radius: 60px 60px 0 0;

		.left,
		.right {
			flex: unset;
		}

		.right {
			gap: 32px;
			flex-direction: row;
			justify-content: space-between;
		}

		.lists {
			gap: 26px;
			flex-direction: row-reverse;
		}

		.cut {
			display: none;
		}

		.list {
			flex: 1 1 50%;
			gap: 24px;
			column-gap: 32px;

			&:nth-child(1) {
				.list {
					background: pink;
				}
			}
		}

		.group {
			flex: 1 1 50%;
			display: flex;
			gap: 24px;

			ul {
				flex: 1 1 50%;
			}
		}

		.copy {
			display: flex;
			flex-direction: column;
			flex: unset;
		}

		.container {
			flex-direction: column;
		}

		.image-with-PP {
			margin: 0;

			img,
			video {
				display: none;
			}
		}

		.right-bottom {
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 32px;
			margin: 0;
		}

		.info.mobile {
			align-items: end;
			margin: 0;
			display: flex;
		}

		.image-with-PP.desktop {
			display: none;
		}

		.PP.mobile {
			display: block;
			text-align: center;
		}

		.desktop {
			display: none;
		}

		.form {
			margin: 0;
		}

		.decoration.mobile {
			display: flex;
		}

		.form-title {
			br {
				display: block;
			}
		}
	}

	@media (width < 1024px) {
		margin-top: 60px;
		padding: 50px 0;
		border-radius: 30px 30px 0 0;

		.agreement {
			max-width: 336px;
		}
	}

	@media (width < 768px) {
		margin-top: 48px;
		padding: 32px 0;

		.subscribe {
			height: 32px;
			padding: 0 30px;
		}

		.input-and-button {
			gap: 8px;
			margin-top: 16px;

			input {
				height: 32px;
				flex: 0 0 193px;
			}
		}

		.container {
			gap: 40px;
		}

		.decoration {
			font-size: 17px;

			img {
				width: 100px;
			}
		}

		.agreement {
			margin-top: 16px;
			font-size: 8px;
		}

		.info.mobile {
			gap: 10px;
			font-size: 12px;
		}

		.subscribe {
			font-size: 12px;
		}

		.lists {
			font-size: 12px;
		}

		.PP.mobile {
			font-size: 12px;
		}
	}

	@media (width < 640px) {
		.group {
			display: block;
		}

		.copy {
			display: none;
		}

		.cut {
			display: block;
		}

		.right {
			flex-direction: column;
		}

		.container {
			gap: 28px;
		}

		.info.mobile {
			align-items: center;
		}
	}

	@media (width < 376px) {
		.input-and-button {
			input {
				font-size: 12px;
			}
		}
	}
}