#header {
	--burger-size: 50px;
	position: absolute;
	z-index: var(--z-header);

	width: 100%;
	padding: 22px 0 12px;

	backdrop-filter: blur(40px);
	background: #FEF7F01A;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav {
		display: flex;
		gap: 60px;
		color: white;
		@include responsive-font(16px, 20px);
		font-family: Humanst;
	}

	.feedback {
		@extend %button-primary;
	}

	.logo-and-burger {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.burger {
		width: var(--burger-size);
		height: var(--burger-size);
		flex: 0 0 var(--burger-size);
		gap: 3px;
		background: white;
		border-radius: 50%;

		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.stripe {
			width: 30px;
			height: 3px;
			border-radius: 50px;
			background: var(--dark);
		}
	}

	.logo {
		height: var(--burger-size);

		img {
			height: 100%;
		}
	}

	@media (width < 1440px) {
		.nav {
			gap: 30px;
		}
	}

	@media (width < 1100px) {
		.nav {
			gap: 24px;
		}
	}

	@media (width < 1024px) {
		.nav {
			display: none;
		}

		.burger {
			display: flex;
		}
	}

	@media (width < 768px) {
		--burger-size: 36px;
		padding: 10px 0;

		.feedback {
			display: none;
		}

		.burger {
			.stripe {
				width: 20px;
			}
		}

		.logo-and-burger {
			justify-content: space-between;
			flex: 1 1 auto;
		}
	}
}