#header {
	--burger-size: 50px;
	position: absolute;
	z-index: var(--z-header);

	width: 100%;
	padding: 22px 0 12px;

	backdrop-filter: blur(40px);
	background: #FEF7F01A;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav {
		display: flex;
		gap: 60px;
		color: white;
		@include responsive-font(16px, 20px);
		font-family: Humanst;
	}

	.feedback {
		@extend %button-primary;
	}

	.logo-and-burger {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.burger {
		width: var(--burger-size);
		height: var(--burger-size);
		flex: 0 0 var(--burger-size);
		gap: 3px;
		background: white;
		border-radius: 50%;

		display: none;

		transition: 0.3s;

		position: relative;

		.stripe {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 30px;
			height: 3px;
			border-radius: 50px;
			background: var(--dark);
			transition: inherit;

			&:nth-child(1) {
				transform: translate(-50%, -6px);
			}

			&:nth-child(2) {
				transform: translate(-50%, 0);
			}

			&:nth-child(3) {
				transform: translate(-50%, 6px);
			}
		}

		&.opened {
			gap: 0;

			.stripe {
				&:nth-child(1) {
					transform: translate(-50%, 0) rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					transform: translate(-50%, 0) rotate(-45deg);
				}
			}
		}
	}

	.logo {
		height: var(--burger-size);

		img {
			height: 100%;
		}
	}

	@media (width < 1440px) {
		.nav {
			gap: 30px;
		}
	}

	@media (width < 1100px) {
		.nav {
			gap: 24px;
		}
	}

	@media (width < 1024px) {
		.nav {
			display: none;
		}

		.burger {
			display: flex;
		}

		.feedback {
			display: none;
		}

		.logo-and-burger {
			justify-content: space-between;
			flex: 1 1 auto;
		}
	}

	@media (width < 768px) {
		--burger-size: 36px;
		padding: 10px 0;

		.burger {
			.stripe {
				width: 20px;
			}
		}
	}
}

.head-menu {
	position: fixed;
	z-index: var(--z-mobile-header);
	top: 84px;
	right: var(--container-padding);

	width: 250px;

	transform: translateX(130%);
	transition: 0.3s;

	&.opened {
		@media (width < 1024px) {
			transform: none;
		}
	}

	.list {
		background: url("../image/mobile-header-cat.webp") right 20px top 13px no-repeat, #FFFFFF;
		border-radius: 20px;
		padding: 30px 20px;

		display: flex;
		flex-direction: column;
		gap: 16px;

		color: var(--dark);
		font-family: Humanst;
	}

	@media (width < 768px) {
		top: 56px;
	}
}