%button {
	height: 46px;
	border-radius: 50px;
	padding: 0 40px;
	height: 46px;
	@include responsive-font(14px, 20px);
	font-family: Humanst;
	transition: 0.3s;

	display: flex;
	align-items: center;
	justify-content: center;

	@media (width < 1024px) {
		padding: 0 36px;
	}
}

%button-primary {
	@extend %button;

	background: var(--red);
	border: 1px solid var(--red);
	color: white;

	&:hover {
		background: var(--light);
		color: var(--red);
	}
}

%button-primary-wide {
	@extend %button-primary;
	@include responsive-font(16px, 20px);
	padding: 0 100px;

	@media (width < 1024px) {
		padding: 0 60px;
	}
}

%button-outline {
	@extend %button;

	color: var(--dark);
	border: 1px solid #372E2D80;
	background: var(--light);

	&:hover {
		border: 1px solid var(--dark);
		background: var(--dark);
		color: var(--light);
	}
}

%button-outline-wide {
	@extend %button-outline;
	@include responsive-font(16px, 20px);
	padding: 0 100px;

	@media (width < 1024px) {
		padding: 0 60px;
	}
}

// -----------------------------------------------------
%h1 {
	font-size: 120px;

	text-transform: uppercase;

	@media (width < 1440px) {
		font-size: 100px;
	}

	@media (width < 1024px) {
		font-size: 80px;
	}

	@media (width < 768px) {
		font-size: 53px;
	}

	@media (width < 425px) {
		font-size: 50px;
	}
}

%h2 {
	@include responsive-font(24px, 64px);
	line-height: 1.3;
	text-transform: uppercase;
}

%h3 {
	line-height: 1.3;
	@include responsive-font(24px, 48px);
}

// -----------------------------------------------------
%input {
	height: 46px;
	padding: 0 20px;

	@include responsive-font(12px, 20px);
	font-family: Humanst;

	border-radius: 50px;
	background: var(--light);
	border: 1px solid var(--red);
	color: var(--dark);

	&::placeholder {
		color: #372E2D80;
	}
}